<div class="container col-6 mt-3">
    <form #form="ngForm" (ngSubmit)="addTask()">
    <div class="mb-3">
        <label  class="form-label">Title</label>
        <input name="title" type="text" class="form-control" [(ngModel)]="taskFormData.title" required >
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control" name="description" rows="3" [(ngModel)]="taskFormData.description" required></textarea>
      </div>
      <div class="mb-3">
        <label  class="form-label">Due Date</label>
        <input name="dueDate" type="date" class="form-control" [(ngModel)]="taskFormData.dueDate" required >
      </div>
      <div class="mb-3">
        <label class="form-label">Status</label><br>
        <input type="radio"  name="status" value="Pending" id="Pending" [(ngModel)]="taskFormData.status" required>&nbsp;<label for="Pending">Pending</label>&nbsp;&nbsp;
        <input type="radio"  name="status" value="In Progress" id="In Progress" [(ngModel)]="taskFormData.status" required>&nbsp;<label for="In Progress">In Progress</label>&nbsp;&nbsp;
        <input type="radio"  name="status" value="Finished" id="Finished" [(ngModel)]="taskFormData.status" required>&nbsp;<label for="Finished">Finished</label>
      </div>
      <button type="submit" class="btn btn-primary" >Add</button>
</form>
</div>
